*.o

build/
.idea/
.vscode/
cmake-build-debug/
cmake-build-release/

Makefile

autom4te.cache/
config.log
config.status
doc/stunnel.8
doc/stunnel.html
doc/stunnel.pl.8
doc/stunnel.pl.html
libtool
src/.deps/
src/.libs/
src/config.h
src/env.lo
src/libstunnel.la
src/stamp-h1
src/stunnel
src/stunnel3
tools/stunnel.conf-sample
tools/stunnel.init
tools/stunnel.service


